body{
    margin: 0;
    background-color: rgb(208, 255, 239);
}

.text{
    margin: 15px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
}

.state{
    font-size: 26px;
    font-weight: 500;
}

.main-game{
    display: flex;
    justify-content: center;
}


.genius{
    display: grid;
    grid-template-areas: 'verde vermelho' 'amarelo azul';
    grid-gap: 1.85%;
    border: 1vw solid #555555 ;
    background-color: #555555 ;
    border-radius: 100%;
    width: 40vw;
    height: 40vw;
}

.blue{
    grid-area: azul;
    background-color: #0682ff;
    border-bottom-right-radius: 100%;
    border: 5px solid #555555;
}

.red{
    grid-area: vermelho;
    background-color: #fe0000;
    border-top-right-radius: 100%;
    border: 5px solid #555555;
}


.green{
    grid-area: verde;
    background-color: #01d936;
    border-top-left-radius: 100%;
    border: 5px solid #555555;
}

.yellow{
    grid-area: amarelo;
    background-color: #ffff00;
    border-bottom-left-radius: 100%;
    border: 5px solid #555555;
}

.off{
    opacity: 0.5;
}